@model IEnumerable<ProductStoresPip.Models.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Units)
        </th>
        <th></th>
    </tr>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td>
                    not elements found
                </td>
            </tr>
        }
    </tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
           
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Dashboard")
</div>
